<doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title }} | {% endif %}Toke's page</title>
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Toke's page{% endif %}">
        <meta name="author" content="Thomas Kerpe">
        
        <link rel="shortcut icon" href="{{ site.url }}/assets/favicon.ico">
        <link rel="apple-touch-icon" href="{{ site.url }}/assets/touch-icon.png">
        <link rel="stylesheet" href="{{ site.url }}/assets/toke.css">
        <link href="{{ site.url }}/atom.xml" rel="alternate" title="Thomas 'Toke' Kerpe" type="application/atom+xml">
    </head>
    <body class="{{ page.layout }}">
    
    <div id="container">
    <article>
    <header>
    <h1><a href="/">{{ page.title }}</a></h1>
    <p><em></em></p>
    </header>
    
    <nav>
        <ul>
        <li><a href="{{ site.url }}/blog/">blog</a></li>
        <li><a href="http://toke.de">website</a></li>
        <li><a href="{{ site.url }}/#about_me">about me</a></li>
        </ul>
    </nav>
    <section id="content">
        {{ content }}
    </section>
        <footer>
        <span class="date">
        Posted at {{ site.time | date_to_long_string }}
        </span>
        by <span class="author">toke</span>
    {% if page.license %}
        &middot; <span class="license">
        License: <a href="{{ page.license[1] }}" rel="license">{{ page.license[0] }}</a>
        </span>
    {% endif %}
    </footer>
    </article>

    <footer>
    <p>Follow me on
    <a href="https://plus.google.com/106481926382248079446/">Google+</a><br>
    <a href="https://github.com/toke/toke.github.com">Get Site Source</a></p>
    <a href="http://flattr.com/thing/40090/Tokes-Blog" target="_blank"><img src="{{ site.url }}/assets/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a>
    </footer>

    </div>
    </body>
</html>
