<doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title }} | {% endif %}Toke's github page</title>
        <meta name="description" content="Tokes github page">
        <meta name="author" content="Thomas Kerpe">
        
        <link rel="shortcut icon" href="{{ site.url }}/assets/favicon.ico">
        <link rel="apple-touch-icon" href="{{ site.url }}/assets/touch-icon.png">
        <link rel="stylesheet" href="{{ site.url }}/assets/toke.css">
        <link href="{{ site.url }}/atom.xml" rel="alternate" title="Thomas 'Toke' Kerpe" type="application/atom+xml">
    </head>
    <body class="{{ page.layout }}">
    
    <div id="container">
    <article>
    <header>
    <h1><a href="/">{{ page.title }}</a></h1>
    <p><em></em></p>
    </header>
    
    <nav>
        <ul>
        <li><a href="{{ site.url }}/blog/">blog</a></li>
        <li><a href="http://toke.de">website</a></li>
        <li><a href="{{ site.url }}/#about_me">about me</a></li>
        </ul>
    </nav>
    <section id="content">
        {{ content }}
    </section>
    </article>

    <footer>
    <p>Follow me on Twitter <a href="https://twitter.com/#!/brxs">@brxs</a> or
    <a href="https://plus.google.com/106481926382248079446/">Google+</a></p>
    </footer>

    </div>
    </body>
</html>
